<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Signup_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A651B2801D7EBC74008B623C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A651B2991D7EBC75008B623C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A651B2A41D7EBC75008B623C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
